.inner {
    max-width: 144rem;
    margin: 0 auto;
}

.default {
    padding: 8rem 0;
}

.default .title {
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    /*전체적으로 타이틀 아래 마진 주는 방법*/
}

.default .title h2 {
    font-size: 4rem;
    font-weight: 600;
}

.default .title h3 {
    font-size: 4rem;
    font-weight: 700;
}

.default .title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.default_btn {
    /*디폴트 버튼을 만들어놓고 계속 사용할거다.*/
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    /*top 0 right 24 bottom 0 left 24*/
    height: 40px;
    background: var(--primary-color);
    color: #fff;

    border-radius: 8px;
    /*모서리 둥글게*/
    white-space: nowrap;
    /*글자 한줄로*/
}