:root {
    --primary-color: #009223;
    /*root는 저 위에 있다는 뜻, --primary-color 중요한컬러*/
    --secondary-color: #ffce32;

    --body-color: #333333;

    --line-color: #dddddd;
    --white-color: #ffffff;
    /*white-color 많이 쓰는 컬러*/
    --backgroud-color: #f7f7f7;
}

html {
    font-size: 62.5%;
    /*10px??폰트 사이즈 크게 벌어지는걸 예방한다. 6.25%이렇게 쓰면 안되고 10단위로 사용해야한다.*/
}

body {
    font-size: 1.6rem;
    /*10px이 1rem, 1.6rem이 16px이 된다.*/
}

#header {
    top: 0;
    z-index: 999;
    background: var(--white-color);
}

#header .hd_wrap {
    display: flex;
    justify-content: space-between;
    /*space-between 양쪽을 맞추는거다.*/
    align-items: center;
    /*아이템들을 가운데로 끌어내릴거다.*/

    height: 80px;
}

#header h1 a {
    display: flex;
}



#header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    background: #fff;
    border-top: 1px solid #ddd;

    transition: 0.4s;
}

#header .gnb:hover::before {
    height: 210px;
}

#header .gnb>ul {
    display: flex;
    gap: 10rem;
    font-size: 18px;
    font-weight: 600;
}

#header a {
    /*헤더 아래 있는 모든 a*/
    white-space: nowrap;
}

#header .gnb>ul>li>a {
    /*꺽새 잘 쳐줘야한다.*/
    display: block;
    line-height: 12rem;
    /*아래로 가준다??*/
}


#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;
    top: 104px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    height: 0;
    overflow: hidden;

    transition: 0.4s;
}

#header .gnb:hover>ul>li>ul {
    height: 200px;
}

#header .gnb>ul>li>ul a {
    display: block;
    line-height: 3.2rem;
    padding: 0 24px;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}

#header .gnb>ul>li>ul li~li a {}

#header .utils {
    display: flex;
    gap: 2.4rem;
    font-size: 1.6rem;

}

#header .utils a {
    position: relative;
    color: var(--body-color);
    line-height: 12rem;
    display: flex;
    align-items: center;
}

#header .utils a img {}



#header .utils a~a::before {
    content: "";
    position: absolute;
    /*띄운다. 기준잡는  position: relative;를 위에 적어준다.*/

    top: 50%;
    left: -13px;
    width: 2px;
    height: 2px;
    background: var(--body-color);

    transform: translate(0, -50%);
    /*계산잘해야한다.*/
}

.main_visual {}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 56rem;
    overflow: hidden;
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
    height: 56rem;


}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;

}

/*center/contain???*/

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_menu {
    background: var(--backgroud-color);
    margin: 0 auto;

}

.main_menu .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.main_menu .tab_menu {
    display: flex;
    justify-content: flex-end;
}

.main_menu .tab_menu button {
    position: relative;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
}

.main_menu .tab_menu button:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.main_menu .tab_menu button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.5s;
}

.main_menu .tab_menu button.on::after {
    width: 100%;
}

.main_menu .tab_menu_content .con {
    display: flex;
    gap: 30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.main_menu .tab_menu_content .con.on {
    visibility: visible;
    height: auto;
}



.main_menu .tab_menu_content .con>* {
    flex: 1;
}

.main_menu .tab_menu_content .con img {
    background: var(--white-color);
}

.main_menu .tab_menu_content .con p {
    margin-top: 16px;
    text-align: center;
}

.main_news .inner {
    display: flex;

}

.main_news .inner>* {
    min-width: 0;
}

.main_news .left {
    flex: 1;
    background: var(--backgroud-color);

    padding: 40px;
}

.main_news .right {
    flex: 0 1 300px;
}

.main_news .left p {
    margin-bottom: 40px;
    text-align: left;

}

.main_news .left .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.main_news .left .title .title_box {
    flex: 1;
    justify-content: center;
}

.main_news .left .title .title_box .itm {}

.main_news .left .title .title_box .itm span {
    line-height: 2;

}


.main_news .left .title .title_box .itm a {}



.main_news .main_news_slide {}

.main_news .main_news_slide .itm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.main_news .main_news_slide .itm img {
    width: 27rem;

    height: 30rem;
    object-fit: cover;
    /*사이즈때문에쪼그라든이미지밖으로랜더링??*/
}

.main_news .right {
    position: relative;
}

.main_news .arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 2;
    /*999를 주면 안된다. 그럼 나중에 헤더를 덮어버린다.*/
    transform: translate(0, -50%);
    /*좌우로0아래위로-50%*/
}

.main_news .arrows button {
    position: absolute;
    top: 0;

    /*버튼을 동그랗게 만들거다*/
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    /*뒤가 비치면 안되니까*/
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    /*box-shadow 약간 번지는 효과*/
}

.main_news .arrows button svg {
    margin-top: 2px;
}

.main_news .arrows .prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.main_news .arrows .next {
    right: 0;
    transform: translate(50%, -50%);
}

.main_news .page {
    /*도트 내맘대로 바꾸기*/
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: -1.6rem;
    left: 0;
    right: 0;
    z-index: 3;
}

.main_news .page span {
    width: 10px;
    height: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
    /*높이의 반만큼 설정하면된다.*/
    opacity: 1;

    transition: 0.4s;
    z-index: 4;
}

.main_news .page span.swiper-pagination-bullet-active {
    width: 80px;
}

#footer {
    padding: 64px 0 64px 0;
    background: #362f2c;
}

#footer a {
    color: #fff;
}

#footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .customer {
    display: flex;
    gap: 24px;
}


#footer p {
    display: flex;
    gap: 32px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 24px;
}

#footer p span {
    position: relative;
    margin-top: 16px;
    font-size: 14px;
}

#footer p span~span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 1px;
    height: 0.5em;
    background: var(--line-color);

    transform: translate(0, -50%);
}

#footer address {
    color: #fff;
    margin-top: 16px;
    font-size: 12px;
}