:root {
    --primary-color: #009223;
    /*root는 저 위에 있다는 뜻, --primary-color 중요한컬러*/
    --secondary-color: #ffce32;

    --body-color: #333333;

    --line-color: #dddddd;
    --white-color: #ffffff;
    /*white-color 많이 쓰는 컬러*/
    --backgroud-color: #f7f7f7;
}

html {
    font-size: 62.5%;
    /*10px??폰트 사이즈 크게 벌어지는걸 예방한다. 6.25%이렇게 쓰면 안되고 10단위로 사용해야한다.*/
}

body {
    font-size: 1.6rem;
    /*10px이 1rem, 1.6rem이 16px이 된다.*/
}

#header {
    top: 0;
    z-index: 999;
    background: var(--white-color);
}

#header .hd_wrap {
    display: flex;
    justify-content: space-between;
    /*space-between 양쪽을 맞추는거다.*/
    align-items: center;
    /*아이템들을 가운데로 끌어내릴거다.*/

    height: 80px;
}

#header h1 a {
    display: flex;
}

#header .gnb {}

#header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    background: #fff;
    border-top: 1px solid #ddd;

    transition: 0.4s;
}



#header .gnb:hover::before {
    height: 256px;
}

#header .gnb>ul {
    display: flex;
    gap: 5rem;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
}

#header a {
    /*헤더 아래 있는 모든 a*/
    white-space: nowrap;
}

#header .gnb>ul>li>a {
    /*꺽새 잘 쳐줘야한다.*/
    display: block;
    margin: 10px 0 0 0;

}


#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;
    top: 88px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    height: 0;
    overflow: hidden;

    transition: 0.4s;
}

#header .gnb:hover>ul>li>ul {
    height: 200px;
}

#header .gnb>ul>li>ul a {
    display: block;
    line-height: 3.2rem;
    padding: 4px 100px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

#header .gnb>ul>li>ul li~li a {}

#header .utils {
    display: flex;
    gap: 2.4rem;
    font-size: 1.6rem;

}

#header .utils a {
    position: relative;
    color: var(--body-color);
    line-height: 12rem;
    display: flex;
    align-items: center;
}

#header .utils a img {}



#header .utils a~a::before {
    content: "";
    position: absolute;
    /*띄운다. 기준잡는  position: relative;를 위에 적어준다.*/

    top: 50%;
    left: -13px;
    width: 2px;
    height: 2px;
    background: var(--body-color);

    transform: translate(0, -50%);
    /*계산잘해야한다.*/
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 56rem;
    overflow: hidden;
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
    height: 56rem;


}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;

}

/*center/contain???*/

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}


.main_visual .page {
    /*도트 내맘대로 바꾸기*/
    display: flex;
    justify-content: center;

    /*도트 사진위로 올리기*/
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 3;
}

.main_visual .page span {
    width: 16px;
    height: 16px;
    background: var(--white-color);
    border-radius: 8px;
    /*높이의 반만큼 설정하면된다.*/
    opacity: 1;
    /*opacity도트흐린거진하게*/
    transition: 0.4s;
    cursor: pointer;


}

.main_visual .page span:hover {
    background: var(--secondary-color);

}


.main_visual .page span.active {
    background: var(--secondary-color);

}



.main_visual .page span.swiper-pagination-bullet-active {
    width: 80px;
    /*페이지검사해서swiper-pagination-bullet-active가져왔음*/
}



.main_menu {

    background: var(--backgroud-color);
    margin: 0 auto;

}

.main_menu .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;

}

.main_menu .title::before {
    content: "";
    position: absolute;

    /* 슬라이드 귀퉁이에 만들거다 */
    top: 0;
    left: 0;



    transform: translate(-45%, -40%);

    z-index: -1;

    border: 3.5rem solid var(--secondary-color);

    border-radius: 50% 50% 0 50%;
}


.main_menu .tab_menu {
    display: flex;
    justify-content: flex-end;

}

.main_menu .tab_menu button {
    position: relative;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
}

.main_menu .tab_menu button:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.main_menu .tab_menu button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.5s;
}

.main_menu .tab_menu button.on::after {
    width: 100%;
}

.main_menu .tab_menu_content .con {
    display: flex;
    gap: 30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.main_menu .tab_menu_content .con.on {
    visibility: visible;
    height: auto;
}



.main_menu .tab_menu_content .con>* {
    flex: 1;
}

.main_menu .tab_menu_content .con img {
    background: var(--white-color);
    border-radius: 3.2rem;
    cursor: pointer;
}

.main_menu .tab_menu_content .con p {
    margin-top: 16px;
    text-align: center;
}

.main_manual {}

.main_manual .inner {}

.main_manual .title {
    position: relative;
}

.main_manual .title::before {
    content: "";
    position: absolute;

    /* 슬라이드 귀퉁이에 만들거다 */
    top: 0;
    left: 0;



    transform: translate(-45%, -40%);

    z-index: -1;

    border: 3.5rem solid var(--secondary-color);

    border-radius: 50% 50% 0 50%;
}

.main_manual .w_inner {
    display: flex;
}

.main_manual .step {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main_manual .step::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;

    height: 4px;

    border-top: 1px dashed var(--primary-color)
}

.main_manual .step button {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    display: block;

    border: 4px solid var(--primary-color);
    outline: 12px solid var(--white-color);

    background: var(--white-color);
    border-radius: 50%;

    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
}



.main_manual .step button strong {
    display: block;
    margin-top: 4px;
    font-size: 2.8rem;
    color: var(--body-color);
    text-align: center;
}

.main_manual .w_inner .right {
    position: relative;
    flex: 1;

    min-width: 0;
    /* overflow: hidden; 이걸 쓰거나 min-width: 0;이거 써도됨*/

    margin-top: 4rem;
}

.main_manual .main_manual_slide .itm {
    padding: 4.8rem;
    background: var(--backgroud-color);
    border-radius: 3.2rem;
    display: block;
    text-align: center;

}

.main_manual .main_manual_slide .itm figure {
    margin-bottom: 2.4rem;
}

.main_manual .main_manual_slide .itm img {
    width: 100%;
}

.main_manual .main_manual_slide .itm .case {
    padding: 2rem;
    background-color: var(--white-color);
    border-radius: 1.6rem;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.25);
}

.main_manual .main_manual_slide .itm .case em {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}

.main_manual .main_manual_slide .itm .case strong {
    position: relative;
    display: block;
    /* 박스가 꽉 차는 사이즈가 되어서 밑으로 떨어진다 */

    font-size: 2.8rem;
    /* 8배수 폰트를 사용하지 않을때 lineheight를 꼭 잡아줘라. */
    font-weight: 300;
    line-height: 2.4rem;

    margin-top: 1.6rem;
    /* 마진 계산 잘해줘야한다. 여기선 em 사이즈도 같이 봐야한다. */
    margin-bottom: 1.6rem;
    /* 조정하면 되지만 8배수는 꼭 지켜라 */
}

.main_manual .main_manual_slide .itm .case strong::after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background: #ffce32;

    margin: 16px auto;
}


.main_manual .main_manual_slide .itm p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}



.main_manual .main_manual_slide .itm .lnk {
    margin-top: 1.6rem;

}

.main_manual .main_manual_slide .itm .lnk a {}

.main_manual .main_manual_slide .itm .lnk a.default_btn {
    display: inline-block;
    padding: 10px 20px;

    border: 1px solid var(--primary-color);

    text-decoration: none;
}

.main_manual .main_manual_slide .itm .lnk a.default_btn:hover {
    background: #28a745;
    color: var(--white-color);
}

.main_brand {
    background: var(--backgroud-color);
}

.main_brand .title {
    position: relative;
    z-index: 1;
}

.main_brand .title::before {
    content: "";
    position: absolute;

    /* 슬라이드 귀퉁이에 만들거다 */
    top: 0;
    left: 0;



    transform: translate(-45%, -40%);

    z-index: -1;

    border: 3.5rem solid var(--secondary-color);

    border-radius: 50% 50% 0 50%;
}

.main_brand .inner {
    display: flex;
    align-items: center;
    /*쪼그라들여서 센터로 보내주기???*/
    gap: 30px;
}

.main_brand .inner>* {
    flex: 1;
    min-width: 0;
    /*overflow: hidden;& min-width: 0;
    js쓰고 박스 원위치 시키는 방법, 이해안되는부분, 오늘의 핵심이다.*/
}

.main_brand .left p {
    margin-bottom: 40px;
}

.main_brand .left a.default_btn:hover {
    background: #28a745;
    color: var(--white-color);
}

.main_brand .main_interior_slide {
    border-radius: 40px;
}

.main_brand .main_interior_slide .itm img {
    width: 100%;
    /*100%는 박스를 채우라는 이야기*/
    height: 400px;
    object-fit: cover;
    /*사이즈때문에쪼그라든이미지밖으로랜더링??*/

}

.main_brand .right {
    position: relative;
}

.main_brand .arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 2;
    /*999를 주면 안된다. 그럼 나중에 헤더를 덮어버린다.*/
    transform: translate(0, -50%);
    /*좌우로0아래위로-50%*/
}

.main_brand .arrows button {
    position: absolute;
    top: 0;

    /*버튼을 동그랗게 만들거다*/
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: var(--white-color);
    /*뒤가 비치면 안되니까*/
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    /*box-shadow 약간 번지는 효과*/
}

.main_brand .arrows .prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.main_brand .arrows .next {
    right: 0;
    transform: translate(50%, -50%);
}

.main_brand .arrows button:hover {
    background: var(--secondary-color);

}


.main_brand .arrows button.active {
    background: var(--secondary-color);

}

.main_brand .page {
    /*도트 내맘대로 바꾸기*/
    display: flex;
    justify-content: center;

    /*도트 사진위로 올리기*/
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 3;

}

.main_brand .page span {
    width: 16px;
    height: 16px;
    background: var(--white-color);
    border-radius: 8px;
    /*높이의 반만큼 설정하면된다.*/
    opacity: 1;
    /*opacity도트흐린거진하게*/
    transition: 0.4s;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}


.main_brand .page span:hover {
    background: var(--secondary-color);

}


.main_brand .page span.active {
    background: var(--secondary-color);

}

.main_brand .page span.swiper-pagination-bullet-active {
    width: 80px;
    /*페이지검사해서swiper-pagination-bullet-active가져왔음*/
}


.main_promotion {}


.main_promotion .inner {
    display: flex;
    gap: 30px;
    justify-content: center;
}

@media (max-width:768px) {
    .main_promotion .inner {
        flex-direction: column;
    }
}

.main_promotion .title {
    position: relative;
    z-index: 1;
}

.main_promotion .title::before {
    content: "";
    position: absolute;

    /* 슬라이드 귀퉁이에 만들거다 */
    top: 0;
    left: 0;



    transform: translate(-45%, -40%);

    z-index: -1;

    border: 3.5rem solid var(--secondary-color);

    border-radius: 50% 50% 0 50%;
}

#footer {
    padding: 64px 0 64px 0;
    background: #362f2c;
}

#footer a {
    color: var(--white-color);
}

#footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .customer {
    display: flex;
    gap: 24px;
}


#footer p {
    display: flex;
    gap: 32px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 24px;
}

#footer p span {
    position: relative;
    margin-top: 16px;
    font-size: 14px;
}

#footer p span~span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 1px;
    height: 0.5em;
    background: var(--line-color);

    transform: translate(0, -50%);
}

#footer address {
    color: #fff;
    margin-top: 16px;
    font-size: 12px;
}


.to_top {
    position: fixed;
    bottom: 80px;
    right: 160px;
    z-index: 999;

    width: 40px;
    height: 40px;

    background: var(--secondary-color);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;

}

.to_top.on {
    opacity: 1;
    visibility: visible;
    right: 160px;

}